.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header.theme-dark, header.theme-dark nav
{
  background:#3b2207 !important;
}
header.theme-dark *{
  color:white !important;
}



.box-cart.active {
  position: fixed;
  top: 90px;
  display: block;
  background: #371d02;
  right: 10px;
  padding: 20px 50px;
  max-height: 65vh;
  overflow-y: auto;
}
.box-cart {
  display: none;
} 
.item-cart-list:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px dashed white;
}
header{
  position:fixed !important;
  top:0;
}
body{
  padding-top:150px;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 20px 35px;
}.form-container > div {
  margin-bottom: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}